
@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<div class="container">
    <form class="form-inline" action="/action_page.php">
        <div class="form-group">
            <label for="title">Name:</label>
            <input type="text" class="form-control" id="title">
        </div>
        <br />
        <button type="submit" class="btn btn-default">Search</button>

    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Classification</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Harry Potter Chamber of Secrets</td>
                <td>JK Rowling</td>
                <td>Novel</td>
                <td>02480</td>
            </tr>
            <!--C# CODE HERE-->
        </tbody>
    </table>
</div>