
@{
    ViewBag.Title = "Books";
}

<div class="container">
	<div class="search-div">
		<form class="	" action="/action_page.php">
			<div class="form-group">
				<input type="text" class="form-control" id="search-box" placeholder="Book">
				<button type="submit" class="btn btn-default" id="search-btn">Search</button>
			</div>
			
		</form>
	</div>
	
	<ul class="list-unstyled">
		<li class="media">
			<img class="d-flex mr-3 pull-left  book-preview"
				 src="https://i5.walmartimages.com/asr/bbde654f-17bf-4b3e-a929-71b0fb073b24_1.adadefe5e10b9b5edea4910bf8a0996f.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"
				 alt="Generic placeholder image">
			<div class="media-body">
				<h3 class="mt-0 mb-1 title-preview">Harry Potter: 1</h3>
				<h5 class="mt-0 mb-1 author-preview">J.K. Rowling</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</li>
		<li class="media">
			<img class="d-flex mr-3 pull-left  book-preview"
				 src="https://i5.walmartimages.com/asr/bbde654f-17bf-4b3e-a929-71b0fb073b24_1.adadefe5e10b9b5edea4910bf8a0996f.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"
				 alt="Generic placeholder image">
			<div class="media-body">
				<h3 class="mt-0 mb-1 title-preview">Harry Potter: 2</h3>
				<h5 class="mt-0 mb-1 author-preview">J.K. Rowling</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</li>
		<li class="media">
			<img class="d-flex mr-3 pull-left  book-preview"
				 src="https://i5.walmartimages.com/asr/bbde654f-17bf-4b3e-a929-71b0fb073b24_1.adadefe5e10b9b5edea4910bf8a0996f.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"
				 alt="Generic placeholder image">
			<div class="media-body">
				<h3 class="mt-0 mb-1 title-preview">Harry Potter: 3</h3>
				<h5 class="mt-0 mb-1 author-preview">J.K. Rowling</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</li>
	</ul>
</div>