
@{
    ViewBag.Title = "AuthorSearch";
}

<h2>Search for authors</h2>
<form>
    <input type="text" placeholder="Name..."/> <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
    <tr><td>Title</td><td>Author</td><td>Classification</td><td>ISBN#</td></tr>
</table>

